
@media (min-width: 920px) and (max-width: 1600px) {

    .skills-showcase .container {
        width: 90%;
    }
}

@media (max-width: 530px) {
    .card .svg {
        flex-shrink: 1;
    }
}

@media (max-width: 920px) {
    .skills-showcase .container {
        width: 100%;
    }

    .skills-showcase .card .title {
        font-size: 0.8em;
    }

    .skills-showcase .card svg {
        width: 50px;
        height: 50px;
    }
    .skills-showcase .card .description {
        font-size: 0.6em;
    }

    .skills-showcase .container {
        padding: 2em;
    }

}

@media (max-width: 461px) {
    .skills-showcase .card svg {
        width: 34px;
        height: 34px;
    }

    .skills-showcase .card .title {
        font-size: 0.6em;
    }

    .skills-showcase .card .description {
        font-size: 0.4em;
    }
}