.card {
    text-align: center;
}

.card .title {
    font-weight: 600;
    padding-bottom: 1em;
    font-size: 1em;
    color: #e2e2e2;
}

.card .description {
    color: #e2e2e2dc;
    font-size: 0.8em;
}

.card:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card button {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 0.5em 1em;
    width: 9em;
    border: none;
}