
.skills-showcase .card svg {
    width: 4em;
    height: 4em;
    fill: #e2e2e2;
}

.skills-showcase .card:hover {
    cursor: auto;
}

.skills-showcase {
    background-color: rgb(16, 113, 168);
}

.skills-showcase .container {
    display: flex;
    padding: 3em;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 60%;
}
