/* 
.projects {
    background-color: rgb(226, 226, 226);
    padding: 5em;
}

.projects {
    display: flex;
    gap: 2em;
}

.projects .card {
    position: relative; 
}

.projects .card-container {
    width: 32em;
}

.projects img {
    border-radius: 0.6em;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

.projects .card::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 0.6em;
    z-index: 1;
}

.projects .card:hover::after {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0);
    border-radius: 0.6em;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projects img {
    position: relative;
}

.projects .card p {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(106, 199, 236);
    transition: all 0.3s ease-in;
}

.projects .card:hover {
    p {
        display: none;
    }
}

.projects .card .desc,
.projects .card .name {
    position: absolute;
    z-index: 100;
}

.projects .card .name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects .card .desc {
    font-size: 0.87em;
    color: rgb(247, 140, 113);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
} */