.tech-list {
    padding-top: 5em;
}

.tech-list img {
    width: 8em;
    height: 8em;
}

.tech-list .tech-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(207, 76%, 64%, 0.082);
    border-radius: 10px;
    padding: 2em;
}

.tech-item p {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

.tech-showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.tech-list h1 {
    text-align: center;
}

.tech-item:hover div {
    background: rgba(55, 127, 160, 0.247);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-header {
    text-align: center;
    padding: 2em;
}

.container-header p {
    color: rgba(91, 37, 161, 0.815);
    font-size: 1em;
}

.container-header h1 {
    margin-bottom: 0;
    font-weight: 500;
    color: #333;
}